.blog-body{
  background-color: #C70039;
}
.navbar-default{
  height: 40%;
}
.img-logo{
  width: 250px;
  height: 150px;
}
.redes-sociales{
margin-bottom:10px;

}
.img-social{
width: 40px;
height: 40px;
}

#menu-principal{
background-color: #E48B32;
}

.contenido {
background-color: #F9F8F7;
font-size: 14px;
margin: auto;
}
.coimg .qumg{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.coimg .nimg {
  width: 100%;
margin-top: 20px;
margin-bottom: 10px;
}
span{
  font-size: 45px;
  margin-top: 10px;
}


.bus{
margin-top: 15px;
}
.lista{
  margin-top: 15px;
}
